.product-list-container {
  margin-top: 60px;
  max-width: 1200px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  margin-left: auto;
}



.product-card {
  padding: 1x;
  border: 1px solid #ccc;
  background-color: transparent;
  align-items: center;
  position: relative;
  width: 100%; /* Occupy the available width */
  max-width: 200px; /* Set a maximum width */
  height: auto;
  margin-left: 30px;
}

.product-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1px;
}

.product-name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0px;
}

.product-description {
  margin-top: 0px;
  margin-bottom: 1px;
  font-size: 10px;
}


.product-price {
  font-size: 11px;
}


.product-quantity {
  font-size: 12px;
}

.in-stock {
  color: rgb(61, 182, 61);
}

.sold-out {
  color: red;
}

.add-to-cart-button {
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute; /* Add position absolute */
  bottom: 8px; /* Adjust bottom value as needed */
  right: 8px; /* Adjust right value as needed */
  width: 40%;

}

.add-to-cart-button:hover {
  background-color: #ffbf40;
}

.heart-icon {
  position: absolute; /* Add position absolute */
  right: 4px; /* Adjust bottom value as needed */
  top: 8px; /* Adjust right value as needed */
  background-color: transparent;
  color: black;
  font-size: 10px;
  cursor: pointer;
}

.heart-icon:hover{
  color: red;
}